<ion-view  hide-nav-bar="true">

  <ion-header-bar style="background-color: #FC461F; height: 8%;">
    <!--scan-->
    <div style="display: block;">
      <i class="lhh-iconfont-scan" style="font-size: 30px; color: white; margin-left: 10px;"></i>
      <span style="color: white; margin-left: 5px; font-weight: bold; position: absolute; top: 33px; left: 5px;">扫一扫</span>
    </div>
    <!--Search-->
    <div style="height: 90%; width: 60%; margin-left: 10%; margin-right: 10%;">
      <label class="item-input" style="background-color: #D22F18; padding-left: 15%; padding-right: 15%; height: 100%;">
        <img src="img/iconfont-search.png" style="width: 25px;"/>
        <input type="search" style="padding: 0px; font-size: 20px; font-weight: bold; color: white; background-color: transparent; vertical-align:middle; heigth: 80%; line-height:80%; width: 50%;" value="生机勃勃的肉肉"/>
      </label>
    </div>
      <!--Message-->
    <div style="display: block;">
      <i class="lhh-iconfont-message" style="font-size: 30px; color: white; margin-right: 10px;"></i>
      <span style="color: white; margin-left: 5px; font-weight: bold; position: absolute; top: 33px; right: 18px;">消息</span>
    </div>
    </ion-header-bar>

    <ion-content class="padding">

      <div class="list card">
        <div class="item item-divider">Recent Updates</div>
        <div class="item item-body">
          <div>
            There is a fire in <b>sector 3</b>
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Health</div>
        <div class="item item-body">
          <div>
            You ate an apple today!
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body">
          <div>
            You have <b>29</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
